:export {
  orangeColor: #f59256;
  mainTextColor: #111111;
  backgroundColor: #fdf7f2;
  prymaryTextColor: #000000;
  activeInputColor: #fdf7f2;
  errorColor: #d60202;
  secondaryTextColor: #ffffff;
  hoverOrangeColor: #e7884d;
  primaryGrayColor: rgba(17, 17, 17, 0.6);
  secondGrayColor: #535353;
}

.ContainerFriendsCards {
  padding: 12px 4px;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
          box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
  width: 280px;
  min-height: 192px;
  height: auto;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .ContainerFriendsCards {
    width: 336px;
    min-height: 246px;
    margin-bottom: 32px;
    padding: 12px 10px;
  }
}

@media screen and (min-width: 1280px) {
  .ContainerFriendsCards {
    width: 395px;
    min-height: 287px;
    padding: 16px;
  }
}

.FriendsThumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .FriendsThumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.NameFriends {
  text-align: center;
  color: #f59256;
  display: block;
  font-size: 12px;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .NameFriends {
    font-size: 16px;
  }
}

.Title {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(33 / 24);
  color: black;
  margin: 47px;
  text-align: center;
}

.CardsThumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .CardsThumb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .CardsThumb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 16px;
  }
}

.MainThumb {
  width: 110px;
}

@media screen and (min-width: 1280px) {
  .MainThumb {
    width: auto;
  }
}

.SecThumb {
  width: 150px;
  color: black;
}

@media screen and (min-width: 768px) {
  .SecThumb {
    width: 170px;
  }
}

@media screen and (min-width: 1280px) {
  .SecThumb {
    width: 190px;
  }
}

.CardItem {
  font-family: 'Manrope';
  font-style: normal;
  line-height: 16px;
  font-weight: 500;
  color: #000;
  font-size: 12px;
}

.CardItem:first-child {
  cursor: pointer;
}

.CardItem:first-child:hover {
  color: #f59256;
}

.CardItem:not(:last-child) {
  margin-bottom: 12px;
}

.CardItem:first-child:hover .subMenu {
  display: block;
}

@media screen and (min-width: 768px) {
  .CardItem {
    font-size: 14px;
  }
  .CardItem:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .CardItem {
    font-size: 16px;
    line-height: 18px;
  }
}

.CardsImg {
  display: block;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .CardsImg {
    max-width: 158px;
  }
}

.CardLink {
  color: inherit;
  text-decoration: underline;
}

.CardAddress {
  color: #000000;
  text-decoration: underline;
}

.subMenu {
  position: absolute;
  background-color: white;
  display: none;
  width: 120px;
  padding: 12px;
  border: 1px solid #f59256;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.subMenuItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
  color: #000000;
}

.subMenuItem:last-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=OurFriendsCards.module.css.map */