@import '../../variables/variables.scss';

.ContainerFriendsCards {
  padding: 12px 4px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
  width: 280px;
  min-height: 192px;
  height: auto;
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: 336px;
    min-height: 246px;
    margin-bottom: 32px;
    padding: 12px 10px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    min-height: 287px;
    padding: 16px;
  }
}

.FriendsThumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.NameFriends {
  text-align: center;
  color: #f59256;
  display: block;
  font-size: 12px;
  text-decoration: underline;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.ourFriendsSection{
  padding-top: 47px;
}

.Title {
  display: block;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.37em;
  color: black;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    margin-bottom: 45px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 60px;

  }
}

.CardsThumb {
  display: flex;
  margin-top: 12px;

  align-items: flex-start;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    margin-top: 16px;
  }
  
}

.MainThumb {
  width: 110px;

  @media screen and (min-width: 1280px) {
    width: auto;
  }
}

.SecThumb {
  width: 150px;
  color: black;
  @media screen and (min-width: 768px) {
    width: 170px;
  }

  @media screen and (min-width: 1280px) {
    width: 190px;
  }
}

.CardItem {
  font-family: 'Manrope';
  font-style: normal;
  line-height: 16px;
  font-weight: 500;
  color: #000;
  font-size: 12px;
  &:first-child {
    cursor: pointer;
    &:hover {
      color: $orangeColor;
    }
  }
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  &:first-child:hover .subMenu {
    display: block;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 18px;
  }
}

.CardsImg {
  display: block;
  width: 110px;
  height: 78px;
  @media screen and (min-width: 1280px) {
    width: 158px;
    height: 112px;
  }
}

.CardLink {
  color: inherit;
  text-decoration: underline;
}

.CardAddress {
  color: #000000;
  text-decoration: underline;
}

.subMenu {
  position: absolute;
  background-color: white;
  display: none;
  width: 120px;
  padding: 12px;
  border: 1px solid #f59256;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.subMenuItem {
  display: flex;
  justify-content: space-between;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
  color: $prymaryTextColor;
  &:last-child {
    margin-bottom: 0;
  }
}
