:export {
  orangeColor: #f59256;
  mainTextColor: #111111;
  backgroundColor: #fdf7f2;
  prymaryTextColor: #000000;
  activeInputColor: #fdf7f2;
  errorColor: #d60202;
  secondaryTextColor: #ffffff;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.active {
  opacity: 1;
  pointer-events: all;
}

.modal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px 20px;
  background-color: #fff;
  width: 704px;
  -webkit-box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
          box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
  border-radius: 40px;
}

@media screen and (max-width: 400px) {
  .modal {
    width: 280px;
    padding: 60px 20px 40px;
    border-radius: 20px;
  }
}

.button {
  position: absolute;
  top: 12px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 50%;
  background-color: #fdf7f2;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .button {
    top: 20px;
    right: 20px;
  }
}

.imgB {
  width: 36px;
}

.containerCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 400px) {
  .containerCategory {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.containerImage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 328px;
  width: 288px;
  overflow: hidden;
  border-radius: 0px 0px 40px 40px;
}

@media screen and (max-width: 400px) {
  .containerImage {
    height: 240px;
    width: 240px;
  }
}

.image {
  width: 100%;
  border-radius: 0px 0px 40px 40px;
}

.categoryNotice {
  position: absolute;
  top: 20px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 158px;
  padding: 6px 0;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 0 40px 40px 0;
}

.textCategory {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #111111;
}

.containerInformationPets {
  margin-left: 20px;
}

@media screen and (max-width: 400px) {
  .containerInformationPets {
    margin: 16px 0 0;
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.01em;
  width: 300px;
  margin-bottom: 20px;
  color: #111111;
}

@media screen and (max-width: 400px) {
  .title {
    margin-bottom: 16px;
  }
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item + .item {
  margin-top: 8px;
}

.p {
  width: 120px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #111111;
}

@media screen and (max-width: 400px) {
  .p {
    width: 100px;
  }
}

.span {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #111111;
  overflow: hidden;
  text-overflow: ellipsis;
}

.containerComments {
  margin: 28px 0 32px;
}

@media screen and (max-width: 400px) {
  .containerComments {
    margin-bottom: 40px;
  }
}

.textComments {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #111111;
}

.spanComments {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #111111;
  margin-left: 10px;
}

.containerButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 400px) {
  .containerButton {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.addTo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 52px;
  background: #ffffff;
  border: 2px solid #f59256;
  border-radius: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #111111;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .addTo {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 12px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.likeSvg {
  margin-left: 10px;
}

.btnContact {
  padding: 12px 60px;
  margin: 0 20px 0 12px;
  background: #f59256;
  border-radius: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  border: none;
  color: #ffffff;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btnContact:hover {
  background-color: #e7884d;
}

@media screen and (max-width: 400px) {
  .btnContact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
  }
}
/*# sourceMappingURL=ModalNotice.module.css.map */