@import 'scss-utils/_variables';
@import 'scss-utils/_mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  margin-bottom: 28px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.375em;

  @include breakpoint-min($tablet) {
    margin-bottom: 40px;

    font-size: 36px;
    line-height: 1.36em;
  }
}

.title2Step {
  @extend .title;

  margin-bottom: 20px;
}

.form {
  width: 100%;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;

  & + & {
    margin-top: 16px;

    @include breakpoint-min($tablet) {
      margin-top: 28px;
    }
  }
}

.span {
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 1.444em;
  font-weight: 500;

  @include breakpoint-min($tablet) {
    margin-bottom: 12px;

    font-size: 24px;
    line-height: 1.08em;
  }
}

.input {
  width: 240px;
  padding: 11px 16px 10px;

  font-size: 14px;
  line-height: 1.357em;

  color: $textColor;

  background: $bakgroundColor;
  border: $inputBorder;
  border-radius: 40px;

  &:focus {
    outline: none;
  }

  @include breakpoint-min($tablet) {
    width: 448px;

    font-size: 16px;
    line-height: 1.625em;
  }
}

.input2Step {
  @extend .input;

  height: 100px;
  line-height: 1.857em;
  border-radius: 20px;

  @include breakpoint-min($tablet) {
    min-height: 116px;
  }
}

.noValidate {
  border-color: $errorColor;
}

.textError {
  position: absolute;
  bottom: -16px;

  left: 16px;
  font-size: 14px;
  color: $errorColor;
}

.textErrorPicture {
  @extend .textError;
  left: auto;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;

  @include breakpoint-min($tablet) {
    flex-direction: row;
  }
}

.next {
  order: 1;
  width: 240px;
  margin-left: 0px;
  margin-bottom: 12px;
  padding: 8.5px 28px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.375em;
  letter-spacing: 0.04em;
  color: $textColor;
  background-color: $lightColor;
  border: 2px solid $orangeColor;
  border-radius: 40px;
  cursor: pointer;

  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  @include breakpoint-min($tablet) {
    order: 2;
    width: 180px;
    margin-left: 24px;
    margin-bottom: 0px;

    font-size: 20px;
    line-height: 1.35em;
  }
}

.cancel {
  @extend .next;

  order: 2;
  margin-bottom: 0px;

  @include breakpoint-min($tablet) {
    order: 1;
  }
}

.valueTrue {
  color: $lightColor;
  background-color: $orangeColor;

  &:hover {
    background-color: $hoverOrangeColor;
  }
}

.text2Step {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.375em;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: $textColor;

  @include breakpoint-min($tablet) {
    font-family: 'Inter';
    color: $secondaryTextColor;
    font-size: 20px;
    line-height: 1.2em;
  }
}

.label2Step {
  position: relative;
  display: flex;
  flex-direction: column;
}

.field__wrapper {
  position: relative;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint-min($tablet) {
    margin-bottom: 40px;
  }
}

.field__label {
  position: relative;
  width: 182px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;

  &:hover .field__button {
    background-color: #c4c4c4a1;
  }

  @media screen and (max-width: 767px) {
    width: 208px;
  }
}

.field__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.field__fake {
  height: 208px;
  width: 208px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.44em;
  color: #7e7e7e;
  background: $bakgroundColor;
  border-radius: 40px;

  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  overflow: hidden;

  @include breakpoint-min($tablet) {
    height: 182px;
    width: 182px;
  }
}

.center {
  align-items: unset;
}

.pointer {
  &:hover {
    opacity: 1;
    box-shadow: (0px 1px 8px $orangeColor);
  }

  cursor: pointer;
}

.anyChoise {
  opacity: 0;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  color: $secondaryTextColor;

  width: 100%;
  height: 100%;
  border-radius: 40px;
  background-color: rgb(255, 255, 255, 0.8);
  z-index: 1000;
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover {
    opacity: 1;
    box-shadow: (0px 1px 8px $orangeColor);
  }

  @include breakpoint-max($desktop - 1px) {
    display: none;
  }
}

.span_file {
  color: rgba(0, 0, 0, 0.87);
}

.image {
  width: 100%;
  z-index: 900;
}

.fotoSelect {
  width: 48px;
}
