// colors
$orangeColor: #f59256;
$mainTextColor: #111111;
$prymaryTextColor: #000000;
$backgroundColor: #fdf7f2;
$activeInputColor: #fdf7f2;
$errorColor: #d60202;
$secondaryTextColor: #ffffff;
$hoverOrangeColor: #e7884d;
$primaryGrayColor: rgba(17, 17, 17, 0.6);
$secondGrayColor: #535353;

// borders
$inputBorder: 1px solid rgba(245, 146, 86, 0.5);

// shadows
$focusInputShadow: 0 0 0 0.1rem rgba(245, 146, 86, 0.5);

// header height
$mobileHeaderHeight: 54px;
$tabletHeaderHeight: 68px;

:export {
  orangeColor: $orangeColor;
  mainTextColor: $mainTextColor;
  backgroundColor: $backgroundColor;
  prymaryTextColor: $prymaryTextColor;
  activeInputColor: $activeInputColor;
  errorColor: $errorColor;
  secondaryTextColor: $secondaryTextColor;
  hoverOrangeColor: $hoverOrangeColor;
  primaryGrayColor: $primaryGrayColor;
  secondGrayColor: $secondGrayColor;
}
