@import 'scss-utils/_variables';
@import 'scss-utils/_mixins.scss';

.burgerBtn {
  height: 40px;
  padding: 0;

  cursor: pointer;
  background-color: transparent;
  border: none;

  @include breakpoint-min($desktop) {
    display: none;
  }
}
