@import 'variables/variables.scss';

.formWrap {
  background-color: $secondaryTextColor;
  border-radius: 20px;
  padding: 40px 20px;

  @media screen and (min-width: 768px) {
    padding: 40px 80px ;
    border-radius: 40px;
  }
}

.addForm{
    display: block;
     width: 240px;

    @media screen and (min-width: 768px) {
      width: 448px;
    }
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Manrope';  
  font-size: 24px;
  line-height: 1.37;
  font-weight: 500;
  color: $mainTextColor;

@media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.36em;
  }

  @media screen and (min-width: 1280px) {
    font-size: 36px;
  }
}

.secStepTitle{
  margin-bottom: 40px;
}


.text{
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.37;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: -0.01em;
    color: $mainTextColor;

    @media screen and (min-width: 768px) {
    font-size: 18px;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
   }

   @media screen and (min-width: 1280px) {
    font-size: 20px;
    margin-bottom: 28px;
   }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: #00000090;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.5s;
  overflow: scroll;
}

.modalWrapper{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 99;
    padding-bottom: 20px;
    height: max-content;
}

.fieldsetWrap{
 position: relative;
 width: 240px;
  border: none;
  padding: 0px;  
  display: flex;  
  flex-wrap: wrap;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    width: 448px;
    margin-bottom: 18px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 28px;
  }
}

.secPagefieldsetWrap{
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 18px;
  }
}

.fieldsetWrap legend{
  margin-bottom: 18px;

  @media (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 10px;
  }
}

.categorySell,
.categoryForFree,
.categoryLostFound{
  top: 0;
  left: 0;
  background-color: $secondaryTextColor;
  display: flex;
  justify-content: center;
  padding: 6px 24px;
  border: 2px solid $orangeColor;
  border-radius: 40px;

  &:hover,
  &:focus{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }

  &::after {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.37;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: $prymaryTextColor;

  flex: none;
  order: 0;
  flex-grow: 0;

    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 1.37;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 8px 28px;
    margin-right: 12px;
  }
} 

.categorySell{
  margin-left: 8px;
  &::after {
  content: "Sell";
  }

  @media screen and (min-width: 768px) {
    margin: 0px;
  }
} 

.categoryForFree{
  &::after {
  content: "In good hands";
  }
} 

.categoryLostFound{
  margin-bottom: 12px;

  &::after {
  content: "Lost/found";
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 18px;
  }
} 

.labelContainer{
  display: flex;
  position: relative;
  cursor: pointer;

   @media screen and (min-width: 768px) {
    display: block;
  }

}

.radio{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.labelContainer input:checked ~ .categoryForFree,
.labelContainer input:checked ~ .categoryLostFound,
.labelContainer input:checked ~ .categorySell
 {
 background: $orangeColor;
}
.labelContainer input:checked ~ .categoryForFree:after,
.labelContainer input:checked ~ .categoryLostFound:after,
.labelContainer input:checked ~ .categorySell:after  {
 color: $secondaryTextColor;
}

.labelTitle{
  position: relative;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44;
  color: $mainTextColor;

   @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.1;
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 1.1;
  }

}

.require{
  color: $orangeColor;
}

.input {
  width: 240px;
  height: 40px;
  padding: 11px 60px 12px 14px;
  margin: 8px  0px 16px 0px;

  color: $mainTextColor;
  background-color: $backgroundColor;
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: 40px;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 1.36em;
  letter-spacing: 0.04em;

  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    background-color: rgba(0, 0, 0, 0.03);
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(245, 146, 86, 0.5);
  }

  &::placeholder {
    color: rgba(27, 27, 27, 0.6);
  }

  @media screen and (min-width: 768px) {
    width: 448px;
    height: 48px;
    padding: 14px 70px 13px 16px;
    margin: 10px  0px 16px 0px;

    font-size: 16px;
    line-height: 1.62;
  }

  @media screen and (min-width: 1280px) {
    margin: 10px  0px 18px 0px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}

.secStepInput{
  margin-bottom: 20px;
}

.buttonWrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
      justify-content: center;
      flex-direction: row;
    }
}

.button {
  width: 240px;
  height: 40px;

  border-radius: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.36;
  letter-spacing: 0.04em;
  background-color: #fff;
  color: $mainTextColor;
  border: 2px solid #F59256;
  cursor: pointer;

  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:first-child {
    margin-top: 16px;
  }


  &:last-of-type {
    color: $secondaryTextColor;
    border: none;
    background-color: $orangeColor;

    &:hover {
      background-color: #e7884d;
    }
  }

  @media screen and (min-width: 768px) {
    width: 180px;
    height: 44px;

    &:not(:last-of-type) {
      margin-right: 20px;
    }

    &:not(:last-of-type) {
      margin-top: 0px;
    }
  }
}

.genderMale,
.genderFemale{
  width: 40px;
  height: 40px;
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }
}

.genderMale{
  &::after {
  content: url('/image/svg/male-mob.svg');
  }

  @media screen and (min-width: 768px) {
    &::after {
      content: url('/image/svg/male-desct.svg');
    }
  }
}

.genderFemale{
   &::after {
  content: url('/image/svg/female-mob.svg');
  }

  @media screen and (min-width: 768px) {
    &::after {
      content: url('/image/svg/female-desct.svg');
    }
  }
}

.genderLabel{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44;
  color: $prymaryTextColor;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-right: 42px;
  }

  &:hover,
  &:focus {
    color: $orangeColor;
  }

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.3;

    &:not(:last-of-type) {
      margin-right: 80px;
      align-items: flex-start
    } 
  }
}

.genderLabel input:checked ~ span{
    color: $orangeColor;
}
.inputFile{
  display: none;
}

.addImage{
  width: 116px;
  height: 116px;
  background: #FDF7F2;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 140px;
    height: 140px;
  }
}

form label:last-of-type .input{
   margin-bottom: 40px;
}

form label:last-of-type .textArea{
   margin-bottom: 40px;
}

.avatarLabel{
  position: relative;
    margin: 8px 0px 28px 0px;
    width: 116px;
    height: 116px;
    display: flex;

    @media screen and (min-width: 768px) {
      width: 140px;
      height: 140px;
      margin: 8px 0px 16px 0px;
    }

    @media screen and (min-width: 1280px) {
      margin: 8px 0px 18px 0px;
    }
}

.closeBtn{
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: #fdf7f2;
  width: 36px;
  height: 36px;
  background-position-x: center;
  background-position-y: center;
  background-size: 28px;
  background-repeat: no-repeat;
  background-image: url('../../image/svg/closeLine.svg');
  cursor: pointer;

  @media screen and (min-width: 768px) {
    top: 24px;
    right: 24px;
    width: 44px;
    height: 44px;
    background-position-x: center;
    background-position-y: center;
    background-size: 36px;
  }
}

.imgB {
  width: 36px;
}

.textArea{
  display: flex;
  align-items: center;
  width: 240px;
  min-height: 100px;
  padding: 12px 14px;
  margin: 8px  0px 16px 0px;

  color: $mainTextColor;
  background-color: $backgroundColor;
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: 20px;
  font-family: 'Manrope';
  font-size: 14px;
  line-height: 1.36em;
  letter-spacing: 0.04em;

  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  overflow: hidden;

  &:focus {
    background-color: rgba(0, 0, 0, 0.03);
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(245, 146, 86, 0.5);
    outline: none;
  }

  &::placeholder {
    color: rgba(27, 27, 27, 0.6);
  }

  @media screen and (min-width: 768px) {
    width: 448px;
    height: 113px;
    padding: 16px 18px;
    margin: 8px  0px 28px 0px;

    font-size: 18px;
    line-height: 1.39em;
  }
}

.selectedAvatar{
  width: 116px;
  height: 116px;
  background: #fff;

  @media screen and (min-width: 768px) {
    width: 140px;
    height: 140px;
  }
}

// error messages

.errorMsg{
  position: absolute;
  top: 115%;
  margin-left: 8px;
  font-size: 14px;
  color: $errorColor;

  @media screen and (min-width: 768px) {
    top: 116%;
  }

  @media screen and (min-width: 768px) {
    top: 118%;
  }
}

.secStepError{
  position: absolute;
  top: 115%;
  margin-left: 8px;
  font-size: 14px;
  color: $errorColor;
}

form label:last-of-type .secStepError{
    top: 100%;

}

form fieldset:first-child .secStepError{
    top: 96%;
}

.avatarLabel .secStepError{
  top: 102%;
  width: 152px;
} 

.avatarErrorType{
  border: 1px solid rgb(255, 77, 77);
  border-radius: 20px;
} 


.errorInput{
  border: 1px solid rgb(255, 77, 77, 1);
}