@import 'scss-utils/_variables';
@import 'scss-utils/_mixins.scss';

.background {
  height: calc(100vh - $smallHeaderHeight);
  background-image: url('../../../image/formsPictures/formImg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../../../image/formsPictures/formImg@2x.png');
  }

  @include breakpoint-min($tablet) {
    height: calc(100vh - $mediumHeaderHeight);
    background-image: url('../../../image/formsPictures/groupMedium.png');
  }

  @media screen and (min-width: $tablet) and (min-device-pixel-ratio: 2),
    screen and (min-width: $tablet) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: $tablet) and (min-resolution: 192dpi),
    screen and (min-width: $tablet) and (min-resolution: 2dppx) {
    background-image: url('../../../image/formsPictures/groupMedium@2x.png');
  }

  @include breakpoint-min($desktop) {
    background-image: url('../../../image/formsPictures/groupLarge.png');
  }

  @media screen and (min-width: $desktop) and (min-device-pixel-ratio: 2),
    screen and (min-width: $desktop) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: $desktop) and (min-resolution: 192dpi),
    screen and (min-width: $desktop) and (min-resolution: 2dppx) {
    background-image: url('../../../image/formsPictures/groupLarge@2x.png');
  }

  // for landscape mobile
  @include breakpoint-max-landscape($tablet - 1px) {
    height: calc(100vh + $smallHeaderHeight);
  }

  @include breakpoint-min-max-landscape($tablet, $mobileLandscape) {
    height: calc(100vh + 200px);
  }
}
