@import '../../variables/variables.scss';

.button {
  display: flex;
  align-items: center;

  // height: 40px;

  font-weight: 500;
  font-size: 20px;
  line-height: 27px;

  background-color: transparent;
  border: none;
  color: $mainTextColor;
  cursor: pointer;

  // @media screen and (max-width: 768px) {
  //   display: none;
  // }

  &:hover .imageContainer {
    background-color: $hoverOrangeColor;
  }
}

.imageContainer {
  position: relative;
  margin-left: 12px;
  display: flex;
  align-items: center;

  background-color: $orangeColor;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

// .imageEllipse {
//   width: 40px;
// }

.imagePlus {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 24px;
}
