.list {
  width: 100%;
}

.containerImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  @media screen and (max-width: 1279px) {
    margin-top: 20px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 10px;
  }
}

.title {
  font-size: 20px;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    font-size: 16px;
    text-align: center;
  }
}

.img {
  width: 200px;

  @media screen and (max-width: 1279px) {
    width: 170px;
  }

  @media screen and (max-width: 767px) {
    width: 130px;
  }
}
