@import '../../variables/variables.scss';

.container {
  display: flex;
}

.title {
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;

  margin: 0 0 24px 17px;
  color: $mainTextColor;
}

.userInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 411px;
  padding: 20px 16px 40px;

  box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
  border-radius: 0px 40px 40px 0px;
  background-color: $whiteColor;
}
