@import '../../../variables/variables.scss';

.list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
  gap: 12px;

  @media screen and (min-width: 768px) {
    margin: 0px;

    width: 530px;

    gap: 10px;
  }

  @media screen and (min-width: 1280px) {
    width: auto;
  }
}

.item {
  height: 39px;
  @media screen and (min-width: 768px) {
    height: auto;
  }
}

.button {
  border: 2px solid $orangeColor;
  border-radius: 40px;
  padding: 8px 28px;
  background-color: $secondaryTextColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: $mainTextColor;
  &:hover {
    background-color: $orangeColor;
    color: $secondaryTextColor;
  }

  @media screen and (min-width: 768px) {
    padding: 10px 28px;

    font-family: 'Manrope';
    font-size: 20px;
    line-height: 27px;
    display: flex;
  }
}

.active {
  border: 2px solid $orangeColor;
  border-radius: 40px;
  padding: 8px 28px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    padding: 10px 28px;

    font-family: 'Manrope';
    font-size: 20px;
    line-height: 27px;
    display: flex;
  }
  background-color: $orangeColor;
  color: $secondaryTextColor;
}
