.image {
  z-index: -1;

  @media screen and (orientation: portrait) {
    position: absolute;
    bottom: 0;
  }

  @media screen and (max-width: 1023px) and (orientation: landscape) {
    position: fixed;
  }

  @media screen and (min-width: 1024px) and (orientation: landscape) {
    position: fixed;
    bottom: 0;
  }
}
