@import 'variables/variables.scss';

.formWrap {
  padding: 16px 20px;

  width: 320px;
  margin: 0 auto;

  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px;
}

.title {
  margin-bottom: 40px;
  text-align: center;

  font-size: 24px;
  line-height: 1.37em;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: $mainTextColor;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formGroup {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 16px; //?
  }
}

.label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  color: rgba(0, 0, 0, 0.5);

  transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
  width: 280px;
  height: 40px;
  padding: 12px 60px 12px 14px;

  background-color: $backgroundColor;
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: 40px;

  font-size: 14px;
  line-height: 1.37em;
  color: $mainTextColor;

  transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.04em;

  &:focus {
    background-color: rgba(0, 0, 0, 0.03);
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(245, 146, 86, 0.5);
  }

  &::placeholder {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.25em;
    letter-spacing: 0.03em;

    color: rgba(17, 17, 17, 0.6);
  }
}

.button {
  padding: 9px 112px;

  width: 280px;
  height: 44px;

  background-color: $orangeColor;
  border-radius: 40px;
}
