@import 'sassStyles/_variables';
@import 'sassStyles/_mixins';

.logo {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5em;
  letter-spacing: 0.07em;

  @include mediumMinBreakPoint {
    margin-right: 0px;

    font-size: 32px;
  }

  @include largeMinBreakPoint {
    margin-right: 80px;
  }
}

.highlight {
  color: $orangeColor;
}
