@import 'scss-utils/_variables';
@import 'scss-utils/_mixins';

.logo {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5em;
  letter-spacing: 0.07em;

  & span {
    color: $orangeColor;
  }

  @include breakpoint-min($tablet) {
    margin-right: 0px;

    font-size: 32px;
  }

  @include breakpoint-min($desktop) {
    margin-right: 80px;
  }
}
