:export {
  orangeColor: #f59256;
  mainTextColor: #111111;
  backgroundColor: #fdf7f2;
  prymaryTextColor: #000000;
  activeInputColor: #fdf7f2;
  errorColor: #d60202;
  secondaryTextColor: #ffffff;
  hoverOrangeColor: #e7884d;
  primaryGrayColor: rgba(17, 17, 17, 0.6);
  secondGrayColor: #535353;
}

.list {
  margin: 30px 0px 0px;
}

@media screen and (min-width: 768px) {
  .list {
    margin: 60px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 32px;
  }
}

.item {
  position: relative;
  background-color: #ffffff;
  margin: 0px 0px 32px;
  -webkit-box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
          box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
  border-radius: 0px 0px 20px 20px;
}

@media screen and (min-width: 768px) {
  .item {
    width: 336px;
    margin: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .item {
    width: 288px;
  }
}

.img {
  width: 100%;
  height: 288px;
}

@media screen and (min-width: 768px) {
  .imgWrapper {
    overflow: hidden;
  }
}

.itemCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 20px;
  width: 158px;
  height: 28px;
  border-radius: 0px 15px 15px 0px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.addToFavorite {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

.addToFavorite:hover, .addToFavorite:focus {
  fill: #f59256;
}

.removeFavorite {
  position: absolute;
  right: 12px;
  top: 12px;
  fill: #f59256;
  cursor: pointer;
}

.itemHeader {
  color: #111111;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.01em;
  margin-bottom: 15px;
}

.itemDescription {
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #111111;
}

.itemDescription:not(:last-child) {
  margin: 0px 0px 8px 0px;
}

.itemDescriptionConteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.itemDescriptionConteiner:first-child {
  margin-right: 15px;
}

.itemDescriptionWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.itemButton {
  border: 2px solid #f59256;
  border-radius: 40px;
  width: 248px;
  height: 35px;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: #f59256;
  cursor: pointer;
}

.itemButton:hover {
  background-color: #f59256;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .itemButton {
    height: 38px;
    font-size: 16px;
    line-height: 22px;
  }
}

.itemInfoWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 298px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  margin-top: 20px;
}
/*# sourceMappingURL=NoticesCategoriesList.module.css.map */