@import '../../../variables/variables.scss';

.list {
  margin: 30px 0px 0px;

  @media screen and (min-width: 768px) {
    margin: 60px 0px 0px;

    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.item {
  position: relative;
  background-color: $secondaryTextColor;

  margin: 0px 0px 32px;

  box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
  border-radius: 0px 0px 20px 20px;

  @media screen and (min-width: 768px) {
    width: 336px;
    margin: 0px;
  }
  @media screen and (min-width: 1280px) {
    width: 288px;
  }
}

.img {
  width: 100%;
  height: 288px;
  object-fit: cover;
}

.imgWrapper {
  @media screen and (min-width: 768px) {
    overflow: hidden;
  }
}

.itemCategory {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  width: 158px;
  height: 28px;
  border-radius: 0px 15px 15px 0px;

  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
}

.addToFavorite {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $orangeColor;
  }
}

.removeFavorite {
  position: absolute;
  right: 12px;
  top: 12px;
  fill: $orangeColor;
  cursor: pointer;
}

.itemHeader {
  color: $mainTextColor;

  font-family: 'Manrope';
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.01em;
  margin-bottom: 15px;
  cursor: pointer;
  height: 76px;
}

.itemDescription {
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: $mainTextColor;

  &:not(:last-child) {
    margin: 0px 0px 8px 0px;
  }
}

.itemDescriptionConteiner {
  max-width: 148px;
  &:first-child {
    margin-right: 15px;
  }
}

.itemDescriptionWrapper {
  display: flex;
  align-self: flex-start;
  margin-bottom: 50px;
}

.priceItemDescriptionWrapper{
  margin-bottom: 20px;
}


.itemButton {
  border: 2px solid $orangeColor;
  border-radius: 40px;
  width: 248px;
  height: 35px;
  background-color: $secondaryTextColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: $orangeColor;
  cursor: pointer;

  &:hover {
    background-color: $orangeColor;
    color: $secondaryTextColor;
  }

  @media screen and (min-width: 768px) {
    height: 38px;
    margin: 0px auto;

    font-size: 16px;
    line-height: 22px;
  }

  @media screen and (min-width: 1280px) {
  }
}
.itemInfoWrap {
  display: flex;
  flex-direction: column;
  height: 298px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 20px;
  padding-right: 20px;
  }
}

.deleteButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 12px;
  top: 62px;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: none;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);

  background-image: url('../../../image/svg/delete.svg');
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  &:hover {
    background-image: url('../../../image/svg/deleteHover.svg');
  }
}