@import '../../../variables/variables.scss';

.list {
  margin: 30px 0px 0px;

  @media screen and (min-width: 768px) {
    margin: 60px 0px 0px;

    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.item {
  position: relative;
  background-color: $secondaryTextColor;

  margin: 0px 0px 32px;

  box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
  border-radius: 0px 0px 20px 20px;

  @media screen and (min-width: 768px) {
    width: 336px;
    margin: 0px;
  }
  @media screen and (min-width: 1280px) {
    width: 288px;
  }
}

.img {
  width: 100%;
  height: 288px;
}

.imgWrapper {
  @media screen and (min-width: 768px) {
    overflow: hidden;
  }
}

.itemCategory {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  width: 158px;
  height: 28px;
  border-radius: 0px 15px 15px 0px;

  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
}

.addToFavorite {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $orangeColor;
  }
}

.itemHeader {
  margin: 20px 20px;

  color: $mainTextColor;

  font-family: 'Manrope';
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.01em;
}

.itemDescription {
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: $mainTextColor;

  &:not(:last-child) {
    margin: 0px 0px 8px 0px;
  }
}

.itemDescriptionConteiner {
  display: flex;
  flex-direction: column;
  &:first-child {
    margin: 0px 40px 0px 0px;
  }
}

.itemDescriptionWrapper {
  display: flex;
  margin: 0 20px;
}

.itemButton {
  border: 2px solid $orangeColor;
  border-radius: 40px;
  width: 248px;
  height: 35px;
  background-color: $secondaryTextColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: $orangeColor;
  cursor: pointer;
  margin: 50px 16px 32px;

  &:hover {
    background-color: $orangeColor;
    color: $secondaryTextColor;
  }

  @media screen and (min-width: 768px) {
    margin: 50px 44px 32px;

    height: 38px;

    font-size: 16px;
    line-height: 22px;
  }

  @media screen and (min-width: 1280px) {
    margin: 50px 20px 32px;
  }
}
