@import '../../variables/variables.scss';

.mainNav {
  @media screen and (max-width: 1279px) {
    background-color: $backgroundColor;
    position: absolute;
    right: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    transition: 500ms;
    transform: translateX(-100%);
    justify-content: flex-start;
    z-index: 100;
    height: 100vh;
  }

  @media screen and (max-width: 767px) {
    top: $mobileHeaderHeight;
    padding-top: 46px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    top: $tabletHeaderHeight;
    padding-top: 88px;
  }

  @media screen and (min-width: 1280px) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }

  @media screen and (max-width: 1023px) and (orientation: landscape) {
    padding-top: 40px;
  }
}
.responsiveNav {
  transform: none;
  height: calc(100vh - $mobileHeaderHeight);
  z-index: 100;

  @media screen and (min-width: 768px) {
    height: calc(100vh - $tabletHeaderHeight);
  }
}
