@import '../../variables/variables.scss';

.headerContentWrap {
  display: flex;
  padding-top: 20px;
  @media screen and (max-width: 767px) {
    padding-top: 12px;
  }
  @media screen and (max-width: 1279px) {
    align-items: center;
    justify-content: space-between;
  }
}
