@import '../../variables/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 0 16px 0 32px;

  @media screen and (max-width: 1279px) {
    padding: 0 32px;
  }

  @media screen and (max-width: 767px) {
    padding: 0 20px;
  }
}

.containerBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;

  margin-bottom: 24px;

  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.title {
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;

  // margin: 0 0 24px 17px;
  color: $mainTextColor;

  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.04em;
  }
}

.containerList {
  display: flex;
  align-items: center;
  justify-content: center;
}
