@import '../../../variables/variables.scss';
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & + & {
    margin-top: 15px;

    @media screen and (max-width: 1279px) {
      margin-top: 12px;
    }
    @media screen and (max-width: 767px) {
      margin-top: 12px;
      justify-content: flex-start;
    }
  }
}

.title {
  flex-grow: 1;
  width: 85px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.04em;

  color: $mainTextColor;

  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 16px;

    width: 55px;
  }
}

.lable {
  position: relative;

  @media screen and (max-width: 767px) {
    width: 132px;
    margin-right: 9px;
  }

  // @media screen and (max-width: 350px) {
  //   width: 150px;
  //   margin-right: 9px;
  // }
}

.input {
  width: 216px;
  padding: 4px 12px 3px;

  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.04em;

  color: $mainTextColor;

  background: $activeInputColor;
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: 40px;

  &:focus {
    outline: none;
  }

  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    // margin-right: 9px;
  }
}

.noValidate {
  border-color: rgb(255, 77, 77, 1);
}

.textError {
  position: absolute;
  bottom: -15px;
  left: 10px;
  font-size: 15px;
  color: $errorColor;

  @media screen and (max-width: 1279px) {
    font-size: 13px;
    line-height: 16px;
    bottom: -13px;
  }

  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 16px;
    width: 180px;
    left: 0px;
    width: 180px;
  }

  // @media screen and (max-width: 350px) {
  //   width: 150px;
  // }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $activeInputColor;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: none;
  margin-left: 24px;

  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  &:hover {
    box-shadow: 0 0 4px 0px $orangeColor;
  }

  @media screen and (max-width: 767px) {
    width: 25px;
    height: 25px;
    margin-left: auto;
  }
}

.doneVector {
  width: 20px;

  @media screen and (max-width: 767px) {
    width: 12.5px;
  }
}

.span {
  width: 216px;
  padding: 4px 12px 3px;

  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.04em;

  overflow: hidden;
  text-overflow: ellipsis;

  border: 1px solid transparent;

  color: $mainTextColor;

  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 16px;
    left: 0px;
    padding: 4px 12px 3px;
    width: 132px;
    // margin-right: 9px;
  }

  @media screen and (max-width: 350px) {
    // width: 150px;
  }
}

.spanDefault {
  padding: 32px 12px 0px;

  @media screen and (max-width: 767px) {
    padding: 23px 12px 0px;
  }
}

.styleLi {
  width: 216px;
  padding: 4px 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.04em;
  color: $mainTextColor;

  background: $activeInputColor;
  border-bottom: 1px solid rgba(245, 146, 86, 0.5);

  &:focus {
    outline: none;
  }

  @media screen and (max-width: 767px) {
    font-size: 12px;
    width: 160px;
    padding: 0 12px;
    line-height: 22px;
  }

  @media screen and (max-width: 350px) {
    font-size: 12px;
    width: 150px;
    padding: 0 12px;
    line-height: 22px;
  }
}

.styleUl {
  display: flex;
  flex-direction: column;
}

.spanStyles {
  font-weight: 500;
}

.stylesDiv {
  position: absolute;
  left: 0;
  height: 100px;
  overflow: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  @media screen and (max-width: 1279px) {
    height: 105px;
  }

  @media screen and (max-width: 767px) {
    height: 85px;
  }
}
