@import '../../../variables/variables.scss';
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & + & {
    margin-top: 15px;

    @media screen and (max-width: 768px) {
      margin-top: 12px;
    }
    @media screen and (max-width: 400px) {
      margin-top: 12px;
      justify-content: flex-start;
    }
  }
}

.title {
  width: 85px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.04em;

  color: $mainTextColor;

  @media screen and (max-width: 400px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.lable {
  position: relative;
}

.input {
  width: 216px;
  padding: 4px 12px 3px;

  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.04em;

  color: $mainTextColor;

  background: $activeInputColor;
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: 40px;

  &:focus {
    outline: none;
  }

  @media screen and (max-width: 400px) {
    font-size: 12px;
    line-height: 16px;
    width: 180px;
    margin-right: 9px;
  }

  @media screen and (max-width: 350px) {
    font-size: 12px;
    line-height: 16px;
    width: 159px;
    margin-right: 9px;
  }
}

.noValidate {
  border-color: rgb(255, 77, 77, 1);
}

.textError {
  position: absolute;
  bottom: -15px;
  left: 10px;
  font-size: 15px;
  color: $errorColor;

  @media screen and (max-width: 768px) {
    font-size: 13px;
    line-height: 16px;
    bottom: -13px;
  }

  @media screen and (max-width: 400px) {
    font-size: 12px;
    line-height: 16px;
    left: 0px;
    bottom: -13px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $activeInputColor;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: none;

  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  &:hover {
    box-shadow: 0 0 4px 0px $orangeColor;
  }

  @media screen and (max-width: 400px) {
    width: 25px;
    height: 25px;
    margin-left: auto;
  }

  @media screen and (max-width: 320px) {
    width: 25px;
    height: 20px;
  }
}

.doneVector {
  width: 20px;

  @media screen and (max-width: 400px) {
    width: 12.5px;
  }
}

.span {
  width: 216px;
  padding: 4px 12px 3px;

  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.04em;

  overflow: hidden;
  text-overflow: ellipsis;

  border: 1px solid transparent;

  color: $mainTextColor;

  @media screen and (max-width: 400px) {
    font-size: 12px;
    line-height: 16px;
    left: 0px;
    padding: 4px 12px 3px;
  }
}

.spanDefault {
  padding: 32px 12px 0px;

  @media screen and (max-width: 400px) {
    padding: 23px 12px 0px;
  }
}
