// Screen sizes
$small: 320px;
$medium: 768px;
$large: 1280px;

// Header height
$smallHeaderHeight: 54px;
$mediumHeaderHeight: 68px;

// Colors
$primaryLightColor: #fdf7f2;
$secondaryLightColor: #ffffff;

$textColor: #111111;
$secondaryTextColor: #000000;

$orangeColor: #f59256;
$hoverOrangeColor: #e7884d;

$primaryGrayColor: rgba(17, 17, 17, 0.6);
$secondaryGrayColor: #535353;

$errorColor: #d60202;

// borders
$inputBorder: 1px solid rgba(245, 146, 86, 0.5);

// shadows
$focusInputShadow: 0 0 0 0.1rem rgba(245, 146, 86, 0.5);
