.homeTitle {
  margin-top: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}
.homeSection {
  background-image: url(../../image/main_page_img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
