@import 'scss-utils/_variables';
@import 'scss-utils/_mixins.scss';

.newsWrap {
  padding-top: 45px;
  padding-bottom: 100px;

  @include breakpoint-min($tablet) {
    padding-top: 95px;
  }

  @include breakpoint-min($desktop) {
    padding-top: 60px;
    padding-bottom: 200px;
  }
}

.title {
  margin-bottom: 28px;
  text-align: center;

  @include breakpoint-min($tablet) {
    margin-bottom: 40px;
  }
}

.box {
  @include breakpoint-min($tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 34px;
    grid-row-gap: 60px;
  }

  @include breakpoint-min($desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.newsItem:not(:last-child) {
  @include breakpoint-max($tablet - 1px) {
    margin-bottom: 40px;
  }
}

.newsItem::before {
  content: '';
  display: block;
  width: 200px;
  height: 4px;
  margin-bottom: 4px;

  background: linear-gradient(90deg, #ff634e 0%, #ffdf48 105.44%);
  border-radius: 40px;

  @include breakpoint-min($tablet) {
    width: 280px;
    height: 8px;
  }

  @include breakpoint-min($desktop) {
    width: 340px;
  }
}

.articleName {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.375em;
  letter-spacing: -0.01em;
  color: $textColor;
}
.text {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.375em;
  color: #111321;
}

.additional {
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: 16px;
  line-height: 1.37em;
  color: $primaryGrayColor;
}

.readMore {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375em;
  text-decoration-line: underline;
  color: $orangeColor;

  &:hover {
    color: #f4823e;
  }
}
