.addPetMobile {
    position: fixed;
    right: 0px;
    bottom: 12px;
    z-index: 1;
    @media screen and (min-width: 768px) {
            display: none;
        }
}

.addPet {
    @media screen and (max-width: 767px) {
        display: none;
    }
}