.bodyScroll {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: #00000090;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;

  //   @media screen and (min-width: 500px) {
  //     display: none;
  //   }
}

.active {
  opacity: 1;
  pointer-events: all;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  background-color: #fff;
  //   width: 600px;

  box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
  border-radius: 40px;

  @media screen and (max-width: 767px) {
    padding: 40px 20px;
    border-radius: 20px;
  }
}

// .link {
//   text-decoration: none;
//   // margin: 5px 0;
//   font-weight: 700;
//   font-size: 20px;
//   color: #2e2e2e;
//   transition: color 0.3s;
//   padding: 15px 0;

//   &:hover {
//     color: #4e91f5;
//   }
// }

.button {
  position: absolute;
  top: 28px;
  right: 28px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: #fdf7f2;

  cursor: pointer;

  @media screen and (max-width: 767px) {
    top: 20px;
    right: 20px;
  }
}

.imgB {
  width: 36px;
}
