@import '../../../variables/variables.scss';

.input {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $mainTextColor;

    width: 280px;
    height: 40px;
    border-radius: 20px;
    border: none;

    margin: 28px auto 0px;
    padding: 0px 12px;
   
    box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);

    background: url('../../../image/search.png') no-repeat right ;
    background-position: 250px 10px;
    background-color: white;
    &::placeholder {
            color: #535353;
            opacity: 1;
    
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.04em;
        }

    @media screen and (min-width: 768px) {
        width: 608px;
        height: 44px;

        margin: 40px auto 0px;
        padding: 0px 20px;

        background-position: 575px 13px;

        font-size: 20px;
        line-height: 27px;

        &::placeholder {
                font-size: 20px;
                line-height: 27px;
            }
    }
}

.input:focus {
    &::placeholder {
            display: none;
        }
}
